.contactAddress {
  width: 100%;
  height: auto;
  border: 1px solid grey;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.contactEmail {
  display: flex;
  height: auto;
}
.addressHeading {
  width: 20%;
  /* border: 1px solid red; */
  padding: 0.5rem;
  font-size: 14px;
  /* border-bottom: 1px solid gray; */
  height: auto;
}
.addressEmail {
  width: 60%;
  /* border: 1px solid red; */
  padding: 0.5rem;
  font-size: 14px;
  height: auto;
  /* border-bottom: 1px solid gray; */
}
.addressChange {
  width: 80%;
  padding: 0.5rem;
  font-size: 14px;
  height: auto;
  /* border: 1px solid gray; */
  color: black;
}

/* payment page */
.paymentLayout {
  width: 100%;
  height: auto;
  padding: 2rem;
  /* border: 1px solid red; */
}
.Tab_div {
  width: 60%;
  height: auto;
  margin: auto;
  border: 1px solid rgba(144, 144, 144, 0.373);
}

/* payment tab */
.cod_div {
  border: 1px solid red;
}
.card_div {
  width: 60%;
  margin: auto;
  height: auto;
  /* border: 1px solid red; */
}
.cvv {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 1px soldi red;
}
